<footer>
    <div class="content">
        <span><a href=https://creativecommons.org/licenses/by-sa/4.0/> <img src="/img/cc.png"> </a>Juan Febles</span>
        <span class="backtotop">SUBIR</span>
    </div>
</footer>
<script src="{{ site.baseurl | replace: '//', '/' }}/js/build/global.min.js"></script>
<!-- analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98289803-1', 'auto');
  ga('send', 'pageview');

</script>
